<div class="col-md-3">
    <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
        <li>
            <a href="@Url.Action("Casa", "Login")">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Inicio
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "USUARIOS")">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Usuarios
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Areas")">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                Areas
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "CARGOS")">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                Cargos
            </a>
        </li>
        <li class="active">
            <a href="@Url.Action("Index", "EMPLEADOS")">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                Empleados
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Asistencia")">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                Asistencia
            </a>
        </li>
    </ul>
</div>
